# Игнорирование файлов .env
.env

# Игнорирование каталога с зависимостями (если используется npm или yarn)
node_modules/

# Игнорирование файлов конфигурации IDE
.vscode/
.idea/

# Игнорирование временных файлов
*.log
*.tmp
*.tmp.*

# Игнорирование сгенерированных файлов
/build
/dist
/out
