[data-mode="light"] {
  --bg: white;
  --color: #575757;
  --surface: whitesmoke;
  --border: #e6e6e6;
  --selection: #f6f5db;
  --ripple: rgb(197 194 194 / 35%);
  --line: hsl(0deg 0% 75% / 15%);
  --textarea: white;
  --code:white;
  --cc:#d2d2d2;
  --link:#00aaff;
}

[data-mode="dark"] {
  --line: hsl(0deg 0% 54.24% / 15%);
  --bg: #202020;
  --color: white;
  --surface: #333333;
  --border: #474747;
  --selection: #7037d5;
  --ripple: rgb(107 107 107 / 35%);
  --textarea: #1f1f22;
  --code:#1f1f1f;
  --cc:#484848;
  --link:#f1e74d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  appearance: none;
}

:focus {
  outline: none;
}

textarea:focus {
    border-color: blueviolet;
}

html,
input,
select,
textarea {
  color: var(--color);
}

button,
input,
textarea {
  border: 1px solid var(--border);
  color: var(--color);
  padding: 5px;
  border-radius: 3px;
}

button,
.load-more-button {
  background: var(--surface);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.load-more-button {
  padding: 5px;
  border: 1px solid var(--border);
  text-align: center;
  margin-bottom: 20px;
}

button.active,
button:active {
  box-shadow: inset 0 0 3px 1px #c2c2c269;
}

textarea,
input {
  background: var(--textarea);
}

::-moz-selection {
  background: var(--selection);
  text-shadow: none;
}
::selection {
  background: var(--selection);
  text-shadow: none;
}


a {
    color: var(--link);
    text-decoration: none;
}

hr {
    border: 1px solid var(--cc);
}

pre {
    white-space: pre-wrap;
}

textarea { resize:none; } 

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  object-fit: cover;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

img[alt="pirate"] {
  border-radius: 50%;
}
html {
  font: 12px monospace;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body:before {
  --size: 60px;
  content: "";
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
      )
      50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size);
  -webkit-mask: linear-gradient(-15deg, transparent 30%, white);
  mask: linear-gradient(-15deg, transparent 30%, white);
  top: 0;
  z-index: -1;
  transform: translate3d(0, 0, -100vmin);
}

body {
  background: var(--bg);
  line-height: 1.25;
  display: flex;
  justify-content: center;
}

.list {
    margin-left: 20px;
}

.main {
  max-width: 800px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1em auto 0 auto;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    background-color: var(--ripple);
    animation: ripple-effect 0.5s linear;
}

@keyframes ripple-effect {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.login {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  place-content: center;
}
.comment {
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 7px;
  background: var(--surface);
}

.menu,
.toggle {
  display: flex;
  gap: 5px;
  place-content: end;
}

.comment > img {
  width: 40px;
  float: left;
}
.cmt {
    overflow: hidden;
    padding: 1px;
}

.comment:hover .delete {
  opacity: 1;
}
.delete:active {
  box-shadow: none;
  color: red;
}
.delete {
  opacity: 0;
  border: 0;
  padding: 0 5px 0 0;
  margin-top: -12px;
  margin-bottom: 5px;
  margin-left: auto;
  display: block;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.post-section {
  display: flex;
  gap: 10px;
}

.controls,
.bt-bb {
  display: flex;
  gap: 10px;
}

.controls {
    flex-wrap: wrap;
    place-items: flex-start;
}
.add-img > * {
    margin: 3px;
}

.add-img, .controls > .active ~ *,  .controls .hide > .active ~ * {
  display: none;
}
.controls .active ~ .add-img {
  display: block;
}
.add-comment {
  place-self: end;
}

.commentsBlock {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.more-text {
  cursor: pointer;
}
.more-text:hover,
.load-more-button:hover, a:hover {
  opacity: 0.7;
}

.right {
  text-align: right;
}
.center {
  text-align: center;
}

.content {
        display: none;
    }

.spoil .jez ~ .content { display:block; }

    .content.active {
        display: block;
    }

    .spoil { display:flex; flex-direction:column;  }
.title { cursor:pointer; border:1px solid var(--cc); padding:5px;}

.title:after {
    content: "+";
 float: right;
    padding-right: 10px;
}
.title.jez:after { 
content: "-";
}
.content {
border:1px solid var(--cc); padding:5px; border-top:0;
}

code {
    display: block;
    padding: 5px;
    background: var(--code);
    border: 1px solid var(--cc);
}

.bt-bb .hide ~ .link {
    display: none;
}

.bt-bb .show ~ *:not(.link) {
    display: none;
}


.lang {
    float: right;
    border: 1px solid var(--cc);
    background: var(--code);
    padding:0 5px;
    margin-top: -1px;
}


